.flex-container {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  line-height: 30px;
}

.flex-item {
  background: tomato;
  margin: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  flex: 1 0 0px;
  min-width: 1.5em;
}

.flex-item:before {
  content: "";
  display: block;
  padding-top:100%;
  float: left;
}

.next-possible {
  background: #336fff;
}

.is-next{
  background: greenyellow;
}

.visited {
  background: gray;
}

.not-visited{
  background: tomato;
}

.knight-present {
  background: gold;
  color: black;
}

.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 20px; height: 20px; margin: 2px; }

